.container {
    width: 1728px;
    height: 1117px;
    top: -1699px;
    left: -303px;
  }
  
  .main {
    position: absolute;
    width: 1230px;
    height: 962px;
    top: 132px;
    left: 464px;
    border-radius: 10px;
    border: 1px solid #B0ADAD;
    color: white;
    box-shadow: 0px 4px 10px 0px #00000040;
  }
  
  .logo {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 23px;
    left: 26px;
  }
  
  .heading {
    position: absolute;
    width: 119px;
    height: 36px;
    top: 20px;
    left: 81px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    letter-spacing: 0.5px;
  }
  
  .add-button {
    position: absolute;
    width: 100px;
    height: 40px;
    top: 21px;
    left: 1100px;
    border-radius: 10px;
    background-color: #662671;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
  }
  
  .table-container {
    position: absolute;
    width: 1230px;
    height: 800px;
    top: 80px;
  }
  
  .table-header {
    background-color: #FFF8B7;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 42px; /* Increased by 50% */
    line-height: 63px; /* Increased by 50% */
    color: #000000;
    align-content: center;
    padding: 24px; /* Increased by 50% */
  }
  
  .table-cell {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 36px; /* Increased by 50% */
    line-height: 54px; /* Increased by 50% */
    color: #000000;
    padding: 24px; /* Increased by 50% */
  }
  
  .table-action-cell {
    padding: 36px 54px; /* Increased padding */
    font-size: 24px; /* Increased font size */
    font-weight: medium;
    text-align: right;
    white-space: nowrap;
  }
  
  .table-row {
    background-color: #F2F2F2;
  }
  